{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} {{ 'Billetterie'|trans }} {% endblock %}</title>

        {% block stylesheets %}
            <script src="//code.jquery.com/jquery-1.12.4.js"></script>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('billetterie.css') }}">
        
        {% endblock %}
        
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <!-- Header -->
        <div id="page-header">
                <div id="titrePage">{{ 'BILLETTERIE EN LIGNE'|trans }}</div>
            
                
        </div>     
        
        <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{ path('louvre_billetterie_commande')}}"><img src="{{ asset('images/logo_Louvre.png') }}" class="img-responsive" alt="LogoLouvre"></a>
                </div>
                <ul class="nav navbar-nav">
                  <li id="commande" class="active"><a> 1 - {{ 'Commande'|trans }} </a></li>  
                  <li id="renseignements" class="disabled"><a> 2 - {{ 'Renseignements visiteur(s)'|trans }}</a></li>
                  <li id="paiement" class="disabled"><a> 3 - {{ 'Paiement'|trans }}</a></li>
                  <li id="confirmation" class="disabled"><a> 4 - {{ 'Confirmation'|trans }} </a></li>
                </ul>
              </div>
            <div id="drapeaux">
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'fr'})) }}"><img src = "{{ asset('images/french_flag.png') }}" class="drapeau" alt="français"></a> 
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'en'})) }}"><img src = "{{ asset('images/UK-flag.png') }}" class="drapeau" alt="english"></a> 
                </div>
        </nav>
    {% block body %}
    
    {% endblock %}

    <footer>
        
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid text-center">
                <p><a href="{{ path('louvre_billetterie_tarifs')}}">{{ 'Tarifs'|trans }}</a> - <a href="{{ path('louvre_billetterie_mentions')}}">{{ 'Mentions Légales'|trans }}</a> - <a href="mailto:nelly.quesada@orange.fr">{{ 'Contact'|trans }}</a></p>
                <p>{{ "Réalisé par Nelly Quesada dans le cadre d'une formation OpenClassrooms, ce site est fictif. Ceci n'est pas la billetterie officielle du Louvre."|trans }}</p>
            </div>
        </nav>
    </footer>

  {% block javascripts %}
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       
  {% endblock %}

    </body>
</html>
