{# src/Louvre/Billetterie/Resources/views/Booking/commande.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('datepicker-fr.js') }}"></script>
    {{ parent() }}

{% endblock %}

{% block title %}
  {{ parent() }} - Réservation
{% endblock %}

{% block body %}

    <form method="post">
         <div class="col-xs-8 col-xs-offset-2 well">
             <div id="formCommande">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group label-floating">
                        {{ form_label(form.commandeDate) }}
                        <div class="datepicker">{{ form_widget(form.commandeDate) }}</div>
                        {{ form_errors(form.commandeDate) }}
                    </div>
                    <span id="dispo"></span>
                    <div class="form-group">
                        {{ form_row(form.commandeTypeBillet) }}
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    
                    <input type="submit" />
                 </div>
        </div>        
    </form>   
</div>
<script>
    
    $.datepicker.setDefaults($.datepicker.regional[ "fr" ]);
    $(".datepicker").datepicker({
        dateFormat: 'dd-mm-yy',
        minDate : 0,
        maxDate : "+1Y",
        showOtherMonths: true,
        selectOtherMonths: true,
        beforeShowDay: function(date){
            var day = date.getDay();
            var bankHoliday = jQuery.datepicker.formatDate('dd-mm-yy', date);
            console.log(bankHoliday);        
            if (day == 0 || day == 2) {
	           return [false, ''];
	           } else if (bankHoliday == "27-07-2017" || bankHoliday == "01-11-2017"){
                return [false, ''];
               } else {
	            return [true, ''];
	           } 
        },
        
    }).attr("readonly","readonly").focus();

    

</script>

{% endblock %}


