{# src/Louvre/Billetterie/Resources/views/Booking/commande.html.twig #} 

{% extends "::base.html.twig" %} 

{% block stylesheets %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/datepicker-fr.js') }}"></script>

{{ parent() }} 

{% endblock %} 

{% block title %} {{ parent() }} - {{ 'Réservation'|trans}} {% endblock %} 

{% block body %}

<form method="post">
    <div class="col-xs-10 col-xs-offset-1 well">
        <div id="formCommande">
            {{ form_start(form) }} {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.commandeDate) }} {{ form_widget(form.commandeDate) }}
                <div class="flexboxlegende">
                    <div class="datepicker"></div>
                    <div id="legende">
                        <div class="bloclegende">
                            <div class="colordispo"></div>
                            <div>{{ 'Places disponibles'|trans }}</div>
                        </div>
                        <div class="bloclegende">
                            <div class="colorlimit"></div>
                            <div>{{ 'Places limitées'|trans }}</div>
                        </div>
                        <div class="bloclegende">
                            <div class="colorindispo"></div>
                            <div>{{ 'Places indisponibles'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div id="billetsRestants"></div>
                {{ form_errors(form.commandeDate) }}
            </div>
            <span id="dispo"></span> {{ form_row(form.commandeTypeBillet) }} {{ form_rest(form) }} {{ form_end(form) }}

            <input id="confirmeCom" class="btn btn-default" type="submit" value="{{ 'Je confirme ma commande'|trans }}">
        </div>
    </div>
</form>
</div>

<script>
    var json_totalBillets = '{{jsonTotalBillets|raw}}';

</script>

<script src="{{ asset('js/billetterie.js') }}"></script>

{% endblock %}
