{# src/Louvre/Billetterie/Resources/views/Booking/commande.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/datepicker-fr.js') }}"></script>
    {{ parent() }}

{% endblock %}

{% block title %}
  {{ parent() }} - Réservation
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default">
        <nav aria-label="Page navigation">
            <ul class="pager">
                <li class="active" ><a href="#">Sélection date, type et nombre de billet</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Renseignements visiteur(s)</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Paiement</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Confirmation</a></li>
            </ul>
        </nav>
    </nav>

    <form method="post">
         <div class="col-xs-8 col-xs-offset-2 well">
             <div id="formCommande">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group label-floating">
                        {{ form_label(form.commandeDate) }}
                        {{ form_widget(form.commandeDate) }}
                        <div class="datepicker"></div>
                        <div id="billetsRestants"></div>
                        {{ form_errors(form.commandeDate) }}
                    </div>
                    <span id="dispo"></span>
                    <div class="form-group">
                        {{ form_row(form.commandeTypeBillet) }}
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    
                    <input id="confirmeCom" class="btn btn-default" type="submit" value= "Je confirme ma commande">
                 </div>
        </div>        
    </form>   
</div>

<script>
    var json_totalBillets = '{{jsonTotalBillets|raw}}';
</script>

<script src="{{ asset('js/billetterie.js') }}"></script>

{% endblock %}