{# src/Louvre/Billetterie/Resources/views/Booking/confirmation.html.twig #} 

{% extends "::base.html.twig" %} 

{% block stylesheets %}
    
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    
    {{ parent() }}

{% endblock %}

{% block body %}

<div class="container-fluid col-xs-10 col-xs-offset-1">

    <h3>Récapitulatif de votre commande</h3>

    <p>Numéro de commande : {{commande.commandeCode}}</p>
    <p>Date de la visite : {{commande.commandeDate | date("d-m-Y")}}</p>
    
    <p>Type de billet : {{commande.commandeTypeBillet}}</p>

    <p>Nombre de billet : {{commande.commandeNbBillet}}</p>
    
    <p>Email : {{commande.commandeMail}}</p>
    
    <div>Informations visiteurs :
 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Pays</th>
                    <th>Réduction</th>
                </tr>
            </thead>
              <tbody>
                  {% for detail in details %}
                    <tr>
                        <td>{{detail.visitorName}}</td>
                        <td>{{detail.visitorFirstname}}</td>
                        <td>{{detail.visitorAge | date("d-m-Y")}}</td>
                        <td>{{detail.visitorCountry}}</td>
                        {% if detail.visitorReduc == 1 %}
                        <td class='reduc'>Oui</td>
                        {% else %}
                        <td class='reduc'>Non</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    
    <p id="prix">Prix Total : {{commande.commandePrixTotal}} €</p>
    
    <p>Vous allez reçevoir vos billets par mail à l'adresse indiquée précédement.</p>

    <div id="remerciement">Merci de votre commande et à bientôt sur le site du Louvre</div>
    
</div>

<script>
$('#renseignements').removeClass("disabled");
$('#renseignements').addClass("active");
$('#commande a').append(' <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
$('#paiement').removeClass("disabled");
$('#paiement').addClass("active");
$('#renseignements a').append(' <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
$('#confirmation').removeClass("disabled");
$('#confirmation').addClass("active");
$('#paiement a').append(' <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
$('#confirmation a').append(' <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');
</script>
{% endblock %}
