{# src/Louvre/Billetterie/Resources/views/Booking/details.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  {{ parent() }} - Renseignements
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <nav aria-label="Page navigation">
            <ul class="pager">
                <li class="disabled"><a href="#">Sélection date, type et nombre de billet <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="active"><a href="#">Renseignements visiteur(s)</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Paiement</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Confirmation</a></li>
            </ul>
        </nav>
    </nav>

<form method="post">
         <div class="col-xs-8 col-xs-offset-2 well">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
             
             <div> Prix du billet : {{" "}} </div>

        <input id="confirmeDetails" class="btn btn-default" type="submit" value= "Je confirme ma commande" type="submit" />
        </div>
</form>

{{commande.commandeId}}
{{commande.commandeNbBillet}}

<script src="{{ asset('js/billetterie.js') }}"></script>

{% endblock %}
