{# src/Louvre/Billetterie/Resources/views/Booking/details.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    {{ parent() }}

{% endblock %}

{% block title %}
  {{ parent() }} - Renseignements
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <nav aria-label="Page navigation">
            <ul class="pager">
                <li class="disabled"><a href="#">Sélection date, type et nombre de billet <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="active"><a href="#">Renseignements visiteur(s)</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Paiement</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Confirmation</a></li>
            </ul>
        </nav>
    </nav>

<form method="post">
         <div class="col-xs-8 col-xs-offset-2 well">
             {{ form_start(form) }}
             {{ form_errors(form) }}
             <ul class="details" data-prototype = "{{form_widget(form.details.vars.prototype)|e('html_attr')}}"> 
            </ul>
             {{ form_row(form.valider) }}
             {{ form_rest(form) }}
             {{ form_end(form) }}
        </div>
</form>

<script>
    var commandeNbBillets = '{{commande.commandeNbBillet}}';
    
    var $collectionHolder;

// setup an "add a tag" link
var $newLinkLi = $('<li></li>').append();

    jQuery(document).ready(function() {

    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.details');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

        addDetailForm($collectionHolder, $newLinkLi);

});
function addDetailForm($collectionHolder, $newLinkLi) {
    for (i=0;i<commandeNbBillets;i++){
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append("<h2> Renseignements visiteur " + (i+1) + " : </h2>" + newForm+ "Prix du billet : ");
        $newLinkLi.before($newFormLi);
        }};
    
</script>

{% endblock %}
